/* ==UserStyle==
@name        00 default style
@namespace   github.com/yasumemo/userstyle
@version     1.0.0
@description すべてのサイトに適用
@author      yasumemo
==/UserStyle== */

body {
  /*-webkit-text-stroke-width: 0.1px;*/
  /*text-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.01), 0 0 3px rgba(0, 0, 0, 0.01)!important;*/
}
p,
dd,
pre,
blockquote {
  line-height: 1.6;
}

/* Gtk+対策 */
textarea,
input,
select {
  max-width: 95%;
}
input[type="text"] {
  font-family: monospace;
}

/* marquee うざい */
marquee {
  -moz-binding: none !important;
  display: block;
  height: auto !important;
}

/*
.aa, .AA, .aa-block {
    font-family: MaruGoAA-SR !important;
}
*/

/* さよならMSゴシック */
@font-face {
  font-family: "ＭＳ Ｐゴシック";
  src: local("Koburina-AA"), local("MaruGoAA-SR");
}
@font-face {
  font-family: "MS PGothic";
  src: local("Koburina-AA"), local("MaruGoAA-SR");
}
@font-face {
  font-family: "ＭＳ ゴシック";
  src: local("NasuM"), local("monospace");
}
@font-face {
  font-family: "MS Gothic";
  src: local("NasuM"), local("monospace");
}
