/* ==UserStyle==
@name        2ちゃんねる
@namespace   github.com/yasumemo/userstyle
@version     1.0.0
@description 2?ちゃんねる
@author      yasumemo
==/UserStyle== */

@-moz-document domain("5ch.net"),
                domain("2ch.net"),
                domain("unkar.org"),
                domain("open2ch.net"),
                domain("2ch.sc") {
  * {
    font-family: MaruGoAA-SR !important;
    font-size: 16px !important;
    line-height: 1.2 !important;
    background-image: none !important;
  }
}

