/* ==UserStyle==
@name        はてな
@namespace   github.com/yasumemo/userstyle
@version     3.0.0
@description はてなダイアリー、はてなブログと増田の本文を見やすい大きさに。はてなブックマークのヘッダーが邪魔。
@author      yasumemo
==/UserStyle== */

@-moz-document domain("d.hatena.ne.jp"),
               domain("hatenablog.com"),
               domain("hatenablog.jp"),
               domain("hateblo.jp"),
               domain("anond.hatelabo.jp"){
  body {
    font-family: sans-serif !important;
  }
  div.section p,
  div.entry-content p,
  div.body {
    font-size: medium !important;
    line-height: 1.6 !important;
  }
}

@-moz-document domain("b.hatena.ne.jp"){
  #global-header {
    position: static !important;
  }
  .navi-wrapper.is-simple.is-fixed {
    position: static !important;
  }
}

