/* ==UserStyle==
@name        Inoreader
@namespace   github.com/yasumemo/userstyle
@version     1.1.0
@description 記事を幅広く
@author      yasumemo
==/UserStyle== */

@-moz-document domain("inoreader.com"){
  .article_title {
    width: inherit !important;
  }
  #sinner_container {
    z-index: -1 !important;
  }
  #reader_pane.reader_pane_sinner {
    padding-right: 20px !important;
  }
}
