/* ==UserStyle==
@name        サッカーコラム J3 Plus+
@namespace   github.com/yasumemo/userstyle
@version     1.1.1
@description J3+をちょっと見やすく
@author      yasumemo
==/UserStyle== */

@-moz-document domain("llabtooflatot.blog102.fc2.com") {
  #all {
    width: initial !important;
    position: relative !important;
    top: -4em !important;
  }
  center {
    display: none !important;
  }
  #left > a {
    display: none !important;
  }
  #left > font {
    display: none !important;
  }
}
