/* ==UserStyle==
@name        JFA.jp
@namespace   github.com/yasumemo/userstyle
@version     1.1.0
@description 固定ヘッダーの解除とフォントサイズ調整
@author      yasumemo
==/UserStyle== */

@-moz-document domain("www.jfa.jp") {
  #headerPC {
    position: relative !important;
  }
  #headerPC--space {
    display: none !important;
  }
  #container #main-colum p {
    font-size: medium !important;
  }
}
