/* ==UserStyle==
@name        ニコニコ動画
@namespace   github.com/yasumemo/userstyle
@version     2.0.0
@description ヘッダーを固定して上詰め
@author      yasumemo
==/UserStyle== */

@-moz-document domain("nicovideo.jp") {
  #siteHeader {
    position: static !important;
  }
  .WatchAppContainer {
    margin-top: 0 !important;
  }
  .WatchAppContainer-switchToFlash {
    display: none !important;
  }
  .HeaderContainer {
    padding: 0 !important;
  }
  .HeaderContainer-row {
    margin-bottom: 0 !important;
  }
  .VideoDescriptionContainer {
    margin-bottom: 0 !important;
  }
  .TagContainer {
    margin-bottom: 0 !important;
  }
  /* タグエリアを小さく */
  .TagContainer-area:first-child {
    padding-right: 0 !important;
  }
  .TagContainer-editButton {
    font-size: 10px !important;
    width: auto !important;
    height: initial !important;
    line-height: 1.2 !important;
    border-radius: 4px !important;
    padding: 1px 3px !important;
  }
  .TagList {
    min-height: initial !important;
  }
  .TagList .TagItem {
    padding-left: 4px !important;
    padding-right: 14px !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
  }
  .TagItem {
    height: initial !important;
    line-height: 1.2 !important;
    border-radius: 4px !important;
  }
  .TagItem-name {
    font-size: 10px !important;
  }
  .TagItem-nicoDicLink {
    width: 10px !important;
    height: 10px !important;
  }
  /* タイトルを折り返さない */
  .VideoTitle {
    white-space: nowrap !important;
  }
  /* 訪問済みリンクをわかりやすく */
  .NicorepoItem-content:visited {
    background-color: #F0F0F0 !important;
  }
  .NicorepoItem-content:visited .NicorepoItem-contentDetailTitle {
    color: #551A8B !important;
  }
}
