/* ==UserStyle==
@name        Soulreaperzone
@namespace   github.com/yasumemo/userstyle
@version     1.2.0
@description 最初からリストオープンして、ブロックをブロック
@author      yasumemo
==/UserStyle== */

@-moz-document domain("www.soulreaperzone.com") {
  .su-spoiler.su-spoiler-closed > .su-spoiler-content{
    height:auto !important;
    opacity: 1 !important;
  }
  .td-main-content-wrap a {
    color: #0033CC !important;
  }
  .td-main-content-wrap a:visited {
    color: #551A8B !important;
  }
  /*ブロックをブロック*/
  #ai-adb-message {
    z-index: -999 !important;
  }
  #ai-adb-overlay {
    z-index: -999 !important;
  }
}
