/* ==UserStyle==
@name        Sportsnavi
@namespace   github.com/yasumemo/userstyle
@version     1.9.0
@description 全体のフォントを大きくして、いらん警告を消す
@author      yasumemo
==/UserStyle== */

@-moz-document domain("sports.yahoo.co.jp"), domain("soccer.yahoo.co.jp"), domain("baseball.yahoo.co.jp") {
  #wrapper, #contents, .sc-wrapper, .sc-content, #wrapper_body {
    width: 1150px !important;
  }
  #main, .sc-main {
    width: 820px !important;
  }
  .sn-topPickup__item--listArticle {
    width: 580px !important;
  }
  body {
    font-size: initial !important;
  }
  .sn-topPickup__item--listArticle .sn-list__itemTitle {
    font-size: medium !important;
  }
  .sn-topPickup__item--firstArticle .sn-topPickup__itemTitle {
    font-size: small !important;
  }
  .sn-topPickupGame__itemTitle {
    font-size: small !important;
  }
  .sn-list__itemTitle {
    font-size: medium !important;
  }
  .sn-modTimeLine .sn-tab--sub .sn-tab__item {
    max-width: 150px !important;
  }
  .sn-modTimeLine .sn-tab--sub .sn-tab__item button {
    font-size: small !important;
  }
  /*
  #main {
    font-size: initial !important;
  }
  #jsOff, #js_off, #noscript {
    display: none !important;
  }
  #modSoccerLeagueNav > ul {
    font-size: smaller !important;
  }
  #modSoccerStanding td:first-child {
    font-size: smaller !important;
  }
  */
}
