/* ==UserStyle==
@name        Sportsnavi
@namespace   github.com/yasumemo/userstyle
@version     1.7.0
@description 全体のフォントを大きくして、いらん警告を消す
@author      yasumemo
==/UserStyle== */

@-moz-document domain("sports.yahoo.co.jp"), domain("soccer.yahoo.co.jp"), domain("baseball.yahoo.co.jp") {
  #wrapper, #contents, .sc-wrapper, .sc-content, #wrapper_body {
    width: 1150px !important;
  }
  #main, .sc-main {
    width: 820px !important;
  }
  .sn-topPickup__item--listArticle {
    width: 580px !important;
  }
  #main {
    font-size: initial !important;
  }
  #jsOff, #js_off, #noscript {
    display: none !important;
  }
  #modSoccerLeagueNav > ul {
    font-size: smaller !important;
  }
  #modSoccerStanding td:first-child {
    font-size: smaller !important;
  }
}
