/* ==UserStyle==
@name        togetter
@namespace   github.com/yasumemo/userstyle
@version     1.2.0
@description フォントサイズを大きく。邪魔者を消す。
@author      yasumemo
==/UserStyle== */

@-moz-document domain("togetter.com") {
  #fixed_social_footer {
    display: none !important;
  }
  .impl_profile > span:first-child, .status {
    font-size: small !important;
  }
  .list_box .tweet {
    font-size: medium !important;
  }
}
