/* ==UserStyle==
@name        Wikipedia
@namespace   github.com/yasumemo/userstyle
@version     1.1.0
@description Wikipediaのフォントを大きくして、広く
@author      yasumemo
==/UserStyle== */

@-moz-document domain("wikipedia.org") {
  #bodyContent {
    font-size: medium !important;
    line-height: 1.6 !important;
  }
  .referencetooltip {
    font-size: 90% !important;
  }
  .toccolours {
    font-size: initial !important;
  }
  
  #content {
    margin-left: 0 !important;
    padding: 1.5em 4em !important;
  }
  #mw-panel {
    position: relative !important;
  }
  /*
  #siteNotice {
    display: none !important;
  }
  */
}
