/* ==UserStyle==
@name        Wikipedia
@namespace   github.com/yasumemo/userstyle
@version     1.2.0
@description Wikipediaのフォントを大きくして、広く
@author      yasumemo
==/UserStyle== */

@-moz-document domain("wikipedia.org") {
  #bodyContent {
    font-size: medium !important;
    line-height: 1.6 !important;
  }
  .referencetooltip {
    font-size: 90% !important;
  }
  .toccolours {
    font-size: initial !important;
  }

  /*サイドメニューを下におろして、ロゴを上に持ってくる*/
  #content {
    margin-left: 0 !important;
    padding: 1.5em 4em !important;
  }
  #mw-panel {
    position: static !important;
  }
  #p-logo {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
  }
  #p-logo > a {
    height: 100px !important;
    background-position: 0% 20% !important;
  }
  #firstHeading {
    padding-left: 1em !important;
  }
  /*
  #siteNotice {
    display: none !important;
  }
  */
}
