/* ==UserStyle==
@name        YouTube
@namespace   github.com/yasumemo/userstyle
@version     1.3.0
@description 閲覧済み動画をわかりやすく
@author      yasumemo
==/UserStyle== */

@-moz-document domain("youtube.com") {
  a:visited {
    color: #551A8B !important;
  }
  a#video-title {
    background-color: #F0F0F0 !important;
  }
  a:visited#video-title {
    color: #551A8B !important;
    background-color: #FAFAFA !important;
  }
  a.yt-simple-endpoint.ytd-compact-video-renderer {
    background-color: #FAFAFA !important;
  }
  a:visited.yt-simple-endpoint.ytd-compact-video-renderer {
    color: #551A8B !important;
    background-color: #FFFFFF !important;
  }
  h3.ytd-compact-video-renderer {
    color: inherit !important;
  }
  #video-title.ytd-rich-grid-media {
    color: inherit !important;
  }

  a[href^="/channel"]:visited,
  a[href^="/watch"]:visited #video-title,
  a#video-title:visited  {
    color: #551A8B !important;
  }
}
