/* ==UserStyle==
@name        YouTube
@namespace   github.com/yasumemo/userstyle
@version     1.0.0
@description 閲覧済み動画をわかりやすく
@author      yasumemo
==/UserStyle== */

@-moz-document domain("youtube.com") {
  a#video-title {
    background-color: #F0F0F0 !important;
  }
  a:visited#video-title {
    color: #551A8B !important;
    background-color: #FAFAFA !important;
  }
}
